// scss file for component based styles
html,
body {
  min-height: 100%;
}

body {
  background: url("../assets/img/screens.png") center bottom no-repeat;
}

.container {
  margin: 3rem auto;
  text-align: center;
}
